/* #myTable{
    border: 2px solid black;
    height: 10px;
    width: 80vw; 
    margin-top: 10px;
}
.input{
    height: 30px;
    width: 30vw;
}
td,th{
    border-radius:2px solid black;
    height: 10px;
    width: 10px;
} */


table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin: 10px 0;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }    
  #myInput{
    height: 40px;
    width: 100vw;
    border-radius: 2px solid black;
  }